name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  flake8:
    name: Lint (flake8)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install flake8
      - run: |
          flake8 ./ \
            --max-line-length=99 \

  ruff:
    name: Lint (ruff)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install ruff
      - run: ruff check .

  isort:
    name: Check import sort (isort)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install isort
      - run: isort . --check-only --diff

  mypy:
    name: Type check (mypy)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install mypy
      - run: |
          mypy ./ \
            --python-version 3.10 \
            --ignore-missing-imports \
            --follow-imports skip \
            --disallow-untyped-defs \
            --disallow-incomplete-defs \
            --no-implicit-optional \
            --warn-return-any \
            --warn-unused-ignores \
            --strict-equality \
            --show-error-codes \
            --pretty

  pyright:
    name: Type check (pyright)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install pyright
      - run: |
          echo '{
            "typeCheckingMode": "basic",
            "reportMissingImports": false,
            "reportGeneralTypeIssues": true,
            "reportUnnecessaryTypeIgnoreComment": true,
            "reportUnknownMemberType": true,
            "reportUntypedBaseClass": true
          }' > pyrightconfig.json
          pyright
