name: CI  # ワークフロー名（1回だけ）

on:
  workflow_dispatch:  # 手動実行
  pull_request:       # PR 作成・更新時に自動実行

jobs:
  flake8:
    name: Lint (flake8)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install flake8
      - run: flake8 .

  ruff:
    name: Lint (ruff)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install ruff
      - run: ruff check .  # プロジェクト全体をチェック

  isort:
    name: Check import sort (isort)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install isort
      - run: isort . --check-only

  mypy:
    name: Type check (mypy)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install mypy
      - run: |
          mypy .\
            --python_version = 3.10 \
            --ignore_missing_imports = True \
            --follow_imports = skip \
            --disallow_untyped_defs = True \
            --disallow_incomplete_defs = True \
            --no_implicit_optional = True \
            --warn_return_any = True \
            --warn_unused_ignores = True \
            --strict_equality = True \
            --show_error_codes = True \
            --pretty = True \

  pyright:
    name: Type check (pyright)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - run: pip install pyright
      - run: pyright